exportPattern("^[^\\.]")	#exports all variables that do not start with a period.

#import(aNamespace)	# only required when extending S3 methods 

#useDynLib(ProjectsDllBaseName)	# only required when supplying C or FORTRAN code 


importFrom(plyr, arrange, ddply)
importFrom(boot, boot)
