exportPattern("^[^\\.]")	#exports all variables that do not start with a period.

#import(aNamespace)	# only required when extending S3 methods 

#useDynLib(ProjectsDllBaseName)	# only required when supplying C or FORTRAN code 

import( plyr )
import( minpack.lm )
import( inline )		# c++ code
#importFrom(plyr, arrange, ddply)	# problems with function "." ...
importFrom(boot, boot)
